*{
  text-decoration: none;
  margin: 0;
	padding: 0;
	box-sizing: border-box;
  list-style: none;
  vertical-align: baseline;
  border: 0;
}

body{
    /*background-color: rgb(96, 139, 139);*/
	background:linear-gradient(#141e30, #243b55);
  text-transform: uppercase;
}

h1 {
	text-align: center;
	margin: 60px 0 40px 0;
	/*font-size: 1.5em;*/
	font-size: 3em;
	color: #fff;
	font-family: sans-serif;
	text-transform: uppercase;
	width: 100%;
}

.container{
  height: 100vh;
  max-width: 1200px;
   /*width: 1100px;*/
  margin: 0 auto;
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  align-content: center;
  justify-content: center;
  align-items: flex-start;
  text-align: center;
  /*font-size: 0.9em;*/
}

.list {
	border-radius: 40px;
	margin-bottom: 20px;
	padding: 10px;
	box-shadow: 0 2px 6px rgba(50,50,90,.1);
  /*box-shadow: 0 2px 6px #fff;*/
  margin-right: 10px;
  margin-left: 10px; 
	width: 900px;
	background: /*rgba(0,0,0,.5)*/ #0E141F;
  border: 1px solid rgb(169, 169, 214);
}

.list:hover{
  box-shadow: 0 3px 6px #fff;
}

.list__input {
	display: none;
}

.list__dois {
	border-radius: 40px;
	margin-bottom: 20px;
	padding: 10px;
	box-shadow: 0 2px 6px rgba(50,50,90,.1);
  margin-right: 10px;
  margin-left: 10px; 
	width:90%;
	background:  #0E141F;
  /*border: 1px solid rgb(169, 169, 214);*/
}

.list__dois:hover{
  box-shadow: 0 3px 6px #fff;
}

.list__input__dois {
	display: none;
}

.faq-title {
	cursor: pointer;
	padding: 10px;
	font-size: 1.4em;
	font-family: monospace;
	/*color: rgb(9, 110, 63);*/
	color: #fff;
}

.faq-title::before {
	/*content: '';*/
	display: inline-block;
	height: 12px;
	width: 24px;
	margin-right: 10px;
	/*background: #BEB0F4;*/
}

.faq-title::after {
	content: '+';
	float: right;
  transition: transform .3s ease;
}

.faq-title__dois {
	cursor: pointer;
	padding: 10px;
	font-size: 1.4em;
	font-family: monospace;
	/*color: rgb(9, 110, 63);*/
	color: #fff;
}

.faq-title__dois::before {
	/*content: '';*/
	display: inline-block;
	height: 12px;
	width: 24px;
	margin-right: 10px;
	/*background: #BEB0F4;*/
}

.faq-title__dois::after {
	content: '+';
	float: right;
  transition: transform .3s ease;
}

.conteudo {
	padding: 10px;
	color: #2a8a6d;
	font-family: Helvetica;
	font-size: .875em;
	line-height: 1.4em;
	display: none;
	width: 100%;
  /*display: flex;*/
  justify-content: center;
  align-items: center;
  flex-direction: column;
  border-radius: 50px;
  padding: 0;

}

.conteudo__dois {
	padding: 10px;
	color: #2a8a6d;
	font-family: Helvetica;
	font-size: .875em;
	line-height: 1.4em;
	display: none;
	width: 100%;

  /*display: flex;*/
  justify-content: center;
  align-items: center;
  flex-direction: column;
  border-radius: 50px;
  padding: 0;

}

.list__input__dois:checked + .list__trigger .conteudo__dois {
	display: block;
}

.list__input__dois:checked + .list__trigger .faq-title__dois::after {
	transform: rotate(44deg) scale(1.08);
}

.list__input:checked + .list__trigger .conteudo {
	display: block;
}

.list__input:checked + .list__trigger .faq-title::after {
	transform: rotate(44deg) scale(1.08);
}

/*.itens{
  margin: 9px 10px 10px 10px;
  font-size: 0.2em;    
}*/

/*deixando botão com efeito*/

.conteudo .btn {
  position: relative;
  width: 80%;
  height: 60px;
  display: inline-block;
  background: #fff;
  margin: 20px;
  border-radius: 50px;
  border: 3px solid #0E141F;
}

.conteudo .btn:before,
.conteudo .btn:after {
    content: "";
    position: absolute;
    inset: 0;
    background: #f00;
    transition: 0.5s;
    border-radius: 50px;
}

.conteudo .btn:nth-child(1):before,
.conteudo .btn:nth-child(1):after {
    background: linear-gradient(45deg, #00ccff, #0E141F, #0E141F, #d400d4);
}

.conteudo .btn:nth-child(3):before,
.conteudo .btn:nth-child(3):after {
    background: linear-gradient(45deg, #7e1d3d, #0E141F, #0E141F, #1aff22);
}

.conteudo .btn:nth-child(4):before,
.conteudo .btn:nth-child(4):after {
    background: linear-gradient(45deg, #f7f4f5, #0E141F, #0E141F, #e24c07);
}


.container .btn :hover:before {
    inset: -3px;
}

.conteudo .btn:hover:after {
  inset: -3px;
  filter: blur(10px);
}

.conteudo .btn span {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  /*display: inline-block;*/
  background: #0E141F;
  z-index: 10;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 1.2em;
  text-transform: uppercase;
  letter-spacing: 2px;
  color: #fff;
  border: 1px solid #0E141F;
  overflow: hidden;
  border-radius: 10px;
  text-align: center;
}

.conteudo .btn span::before {
  content: "";
  position: absolute;
  top: 0;
  left: -50%;
  width: 100%;
  height: 100%;
  /*background: rgb(255, 255, 255, 0.075);*/
  transform: skew(25deg);
  border-radius: 10px;
}

.listInf__opt{
  color:#f7f4f5af;
  overflow:hidden;
  font-size: 1.0em;
}

.inputBox select{
  background: rgb(0,0,54);
  color:white;
  margin:0;
  width: 100%;
  padding-top: 10px;
}

/*deixando tela principal responsiva*/

@media screen and (max-width: 600px){
	.container{
		display: flex;
    flex-direction: column;
    /*flex-wrap: wrap;*/
    align-content: space-around;
    align-items: center;
    justify-content: flex-start;
		font-size: 1em;
	}

  .list{
    width: 90%;
  }

  .conteudo .btn span{
    font-size: 1em;
    width: none;
  }
}


/*análisar modal depois*/
.modal {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  font-family: Arial, Helvetica, sans-serif;
  background: rgba(0,0,0,0.8);
  z-index: 99999;
  opacity:0;
  -webkit-transition: opacity 400ms ease-in;
  -moz-transition: opacity 400ms ease-in;
  transition: opacity 400ms ease-in;
  pointer-events: none;
}

.modal:target {
  opacity: 1;
  pointer-events: auto;
}

#fechar{
  float: right;
  color:#fff;
  
}

/*.modal > div {
  width: 400px;
  position: relative;
  margin: 10% auto;
  padding: 15px 20px;
  background: #fff;
}*/

/*criando efeito do form*/

.box{
    color: white;
    position: absolute;
    top:50%;
    left:50%;
    transform: translate(-50%, -50%);
    background-color: rgb(0, 0, 54);
    padding: 15px 0px 15px 15px;
    border-radius:20px;
    height: 90%;
    width: 40%;
    overflow: hidden;
    overflow-y: scroll;
}

::-webkit-scrollbar {
  width: 10px;
}

::-webkit-scrollbar-thumb{
  background-color: rgb(0, 0, 54);
  /*border-radius: 20px;*/
  border-top-right-radius: 40px;
  border-bottom-right-radius: 40px;
}

fieldset{
    border:3px solid rgb(18, 18, 211);
    border-radius: 20px;
}

legend{
    border: 1px solid rgb(18,18,211);
    padding:10px;
    text-align: center;
    color:rgb(245, 244, 239);
    border-radius: 40px;
    background-color: dodgerblue;
}
.inputBox{
    position: relative;
    margin:0 10px 0 10px;
}
.inputUser{
    background: none;
    border:none;
    outline: none;
    border-bottom: 1px solid white;
    color:white;
    font-size: 15px;
    width: 100%;
    letter-spacing: 2px;
}

.labelInput{
    position: absolute;
    top:0px;
    left:0px;
    pointer-events:none;
    transition: .5s;    
}

.container .conteudo .inputBox .inputBox__radio{
  padding: 3px 10px 0 5px;
  text-align: left;
  align-items: left;
}


.inputUser:focus ~ .labelInput , .inputUser:valid ~ .labelInput{
    top: -20px;
    font-size: 12px;
    color: dodgerblue;
}

#data_nascimento{
    border-radius:10%;
    border: none;
    padding: 8px;
    outline: none;
    font-size: 15px;
    background-color: rgb(0, 0, 54);
    color:#fff;
}

/*.container .box .inputBox b{
  position: relative;
  text-align: left;
  margin: 0 10px 0 10px;
}*/

.box p{
  text-align: left;
  position: relative;
  padding-bottom: 15px;
 /* margin:0 10px 0 10px;*/
}

#submit{
    background-image: linear-gradient(to right, rgb(0,92,197), rgb(90,20,220));
    width: 60%;
    border-radius: 40px;
    padding: 15px;
    color: white;
    border: none;
    font-size: 15px;
    cursor: pointer;
    margin-bottom: 10px;
}

#submit:hover{
    background-image: linear-gradient(to right, #320eff, rgb(90,20,220));
    animation:bounce 1s;
}

.listInf__opt{
  color:#f7f4f5af;
  overflow:hidden;
  font-size: 1.0em;
}

.inputBox select{
  background: rgb(0,0,54);
  color:white;
  margin:0;
  width: 100%;

}

@media screen and (max-width: 700px){
	
  .box{
    width: 80%;
    }
}

/*.list__trigger .conteudo a {
	position: relative;
	display: inline-block;
  padding: 10px 20px;
  color: #03e9f4;
  font-size: 16px;
  text-decoration: none;
  text-transform: uppercase;
  overflow: hidden;
  transition: .5s;
  margin-top: 40px;
  letter-spacing: 4px;
}

.container a:hover {
  background: #03e9f4;
  color: #fff;
  border-radius: 5px;
  box-shadow: 0 0 5px #03e9f4,
              0 0 25px #03e9f4,
              0 0 50px #03e9f4,
              0 0 100px #03e9f4;
}

.list__trigger a span {
  position: absolute;
  display: block;
}

.list__trigger a span:nth-child(1) {
  top: 0;
  left: -100%;
  width: 100%;
  height: 2px;
  background: linear-gradient(90deg, transparent, #03e9f4);
  animation: btn-anim1 1s linear infinite;
}

@keyframes btn-anim1 {
  0% {
    left: -100%;
  }
  50%,100% {
    left: 100%;
  }
}

.list__trigger a span:nth-child(2) {
  top: -100%;
  right: 0;
  width: 2px;
  height: 100%;
  background: linear-gradient(180deg, transparent, #03e9f4);
  animation: btn-anim2 1s linear infinite;
  animation-delay: .25s
}

@keyframes btn-anim2 {
  0% {
    top: -100%;
  }
  50%,100% {
    top: 100%;
  }
}

.list__trigger a span:nth-child(3) {
  bottom: 0;
  right: -100%;
  width: 100%;
  height: 2px;
  background: linear-gradient(270deg, transparent, #03e9f4);
  animation: btn-anim3 1s linear infinite;
  animation-delay: .5s
}

@keyframes btn-anim3 {
  0% {
    right: -100%;
  }
  50%,100% {
    right: 100%;
  }
}

.list__trigger a span:nth-child(4) {
  bottom: -100%;
  left: 0;
  width: 2px;
  height: 100%;
  background: linear-gradient(360deg, transparent, #03e9f4);
  animation: btn-anim4 1s linear infinite;
  animation-delay: .75s
}

@keyframes btn-anim4 {
  0% {
    bottom: -100%;
  }
  50%,100% {
    bottom: 100%;
  }
}*/
